@colAxisStroke: #ddd;
@colBarBackground: #ccc;
@colBarForeground: steelblue;
@colHistRect: #ccccff;
@colResizePath: #666;


@axisLineColor:rgba(0, 0, 0, .2);
@axisTextColor: #000;
@eventBarColor: teal;
@eventTitleColor: #fff;
@crossfilterTitleColor: #1b7c8d;
@eventTitleOutsideColor: #000;

.icon(@col: 0, @row: 0) {
	
	background-image: url(images/sprite.png);
	
	
}

.pseudoElement() {
	
	content:".";
	display: block;
	text-indent: -10000px;
	
}

.sort {
	display: none !important;
}

body {
	font-family: "Franklin Gothic Book", "Franklin Gothic", Verdana, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: black;
}

#mainExample {
	padding: 0;
}

#timeline_demo {
	overflow: hidden;
	font-family: "Helvetica Neue", Arial, sans-serif;
	
	svg {
		overflow: hidden;
	}
}

#leftCol {
	position: fixed;
	top:20px;
	left:20px;
	width:800px;
	margin-right: 20px;
	
	.status {
		background: #efefef;
		padding: .5em;
		text-align: center;
	}
}

#rightCol {
	margin-left: 840px;
	margin-top: 20px;
	width:400px;
	
	div.reset{
		
		width:100%;
		margin-bottom: 1em;
		
		a {
			cursor: pointer;
			font-weight: normal;
			padding: .5em;
			background: @colBarBackground;
			color: black;
			text-decoration: none;
			text-align: center;
			display: block;
		}
	}
			

}

#crossfilter {
	width:400px;
	min-height: 200px;
	
	.chart {
	
		margin-bottom: 2em;
		
		.title {
			margin-bottom: 1em;
			
			color: @crossfilterTitleColor;
		
			a {
				cursor: pointer;
				font-weight: normal;
				font-size: smaller;
				padding: .2em;
				margin-left: 1em;
				background: @colBarBackground;
				color: black;
				float: right;
			}
			
			a.reset {
				display: none;
			}
		}
		
	}
	
	.chart.barchart {
		path {
			fill: @eventBarColor;
		}
		
		path.background  {
			fill: @colBarBackground;
		}
		
		.axis {
			path, line {
				fill:none;
				stroke: @colAxisStroke;
				shape-rendering: crispEdges;
			}
		}
		
		
		.brush {
			rect.extent {
				fill: steelblue;
				fill-opacity: .125;
			}
			.resize path {
				fill: @colBarForeground;
				stroke: @colResizePath;
			}
		}
	}
	
	.chart.wordCloud {
		
		
		.filtered {
			
			span {
				color: @axisLineColor;
			}
			span.selected {
				color: black;
			}
			
			.title {
				a.reset {
					display: block;
				}
			}
		}
		
		.term {
			cursor: pointer;
			margin-right: 10px;
			-webkit-transition: font-size .3s linear;
		}
		
		.term:hover {
			font-size: 17px !important;
		}
		
	}

}

#slider_threshold {


	width: 800px;
	margin-bottom: 2em;
		
	height: 2em;
	
	.ui-rangeSlider-container {
		height: 2em;
		border-bottom: @colAxisStroke 1px solid;
		
		.ui-rangeSlider-bar {
			height: 100%;
			background: @colBarForeground;
			opacity: .125;
			cursor: move;
			cursor: grab;
		}
		
		.ui-rangeSlider-handle {
			background: @colBarBackground;
			width: .5em;
			height: 100%;
			cursor: ew-resize;
		}
	}
	
	.ui-rangeSlider-label  {
		.ui-rangeSlider-label-value {
			display: none;
		}
	}
	
}

.ui_panel_container {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	
	.ui_panel {
		
		@panelWidth: 360px;
		
		display: none;
		top:0;
		left:0;
		position: absolute;
		width: @panelWidth;
		height: 40%;
		min-height: 400px;
		background: white;
		border-radius: 1em;
		box-shadow: 0px 3px 20px rgba(0,0,0,.2);
		overflow: hidden;
		overflow-y: auto;
		pointer-events: all;
		
		> h3 {
			font-weight: normal;
			text-align: center;
		}
		
		ul {
		
			margin: 0;
			padding: 0;
		
			li {
			
				position: relative;
				list-style: none;
				margin: 0;
				padding: 1em;
				border-bottom: 1px solid #eee;
				
				label {
					width: 7em;
					display: inline-block;
					font-weight: bold;
				}
				
				.description {
					font-size: .8em;
				}
				
			}
			
			
		}	
		
		ul.select {
			
			li:after {
				.icon();
				.pseudoElement();
				position: absolute;
				right: 1em;
				top: 50%;
				width: 4px;
				height: 8px;
			}
			
		}
		
		ul.swatches {
			
			li {
				@gap: 1px;
				@numSwatches: 10;
				@swatchSize: @panelWidth/@numSwatches - @gap;
				width: @swatchSize;
				height: @swatchSize;
				margin: 0;
				margin-right: @gap;
				margin-bottom: @gap;
				padding: 0;
				display: block;
				float: left;
				
			}
			
		}
		
		select.select {
			margin: auto;
			display: block;
			width: 90%;
		}
		
		ul.operations {
		
			overflow: hidden;
			background-color: #efefef;
			
			li {
				
				border: none;
				width: 25%;
				float: left;
				text-align: center;
			}
			
		}
		
		div.header {
	
			padding: 1em;
			background-size: 100%;
			background-repeat: no-repeat;
			min-height: 40%;
		
			h1, h2, h3 {
			
				line-height: 1.8em;
				margin-top: 0;
				font-weight: normal;
				color: white;
				text-shadow:
					-1px -1px 1em rgba( 0 , 0, 0, .2),  
					1px -1px 1em rgba( 0 , 0, 0, .2),
					-1px 1px 1em rgba( 0 , 0, 0, .2),
					1px 1px 1em rgba( 0 , 0, 0, .2);
	
			}
			
		}
		
		.header {
			
			.values {
				
				margin: 0 -1em;
				
				label {
					
					font-weight: normal;
					
				}
				
			}
			
		}
		
		.loading {
			
			width: 32px;
			height: 32px;
			margin: 50% auto;
			background: url(images/ajax-loader.gif);
			
		}
		
		.loading::after {
			
			.pseudoElement();
			position: fixed;
			left:0;
			top:0;
			width: 100vw;
			height: 100vh;
			
		}
		
		.loading.progress {
			
			width: 80%;
			background: none;
			border: 1px solid @colAxisStroke;
			height: 16px;
			
			.bar {
				
				.transition();
				height: 100%;
				background-color: @eventBarColor;
				
			}
			
		}
		
		.instructions {
			clear: both;
			padding: 0 1em;
			text-align: center;
		}
		
		.pointer {
			display: none;
			position: absolute;
			top:50%;
			width: 0px;
			height: 0px;
			border-style: solid;
		}	
		
		.pointerRight {
			border-color: transparent #ffffff transparent transparent;
			border-width: 10px 10px 10px 0;
			left: -10px;
		}
		
		.pointerLeft {
			right: -10px;
			border-color: transparent transparent transparent #ffffff;
			border-width: 10px 0 10px 10px;
		}
	}
	
	
	.ui_panel.pointerLeft {
		
		.pointerLeft {
			display: block;
		}
		
		.pointerRight {
			display: none;
		}
		
	}
	
	.ui_panel.pointerRight {
		
		.pointerLeft {
			display: none;
		}
		
		.pointerRight {
			display: block;
		}
		
	}

	.ui_panel_overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		pointer-events: all;
	}

}
svg.timeline, svg.heap, svg.histogram {

	margin-right: 2em;
	
	.axis, .bars_axis, .heap_axis, .histogram_axis {
		path {
			fill:none;
		}
		line {
			stroke: @axisLineColor;
		}
		text {
			fill: @axisTextColor;
		}
	}
	
	.bars_events {
	
		.bars_event {
			
			.childrenIcon {
				rect {
					fill: none;
					cursor: pointer;
					pointer-events: all;
				}
				text {
					fill: @eventTitleColor;
				}
			}
			
			.childrenIcon.open {
				.closed {
					display: none;
				}
			}
			
			.childrenIcon.closed {
				.open {
					display: none;
				}
			}
			.eventRect {
				fill: @eventBarColor;
			}
			.title {
				fill: @eventTitleColor;
			}
			
			.title[text-anchor=end] {
				fill: @eventTitleOutsideColor;
			}
		}
	}
	
	.heap_events, .histogram_events {
		circle {
			fill: @eventBarColor;
		}
	}
	
	.heap_outline {
		fill: @eventBarColor;
		opacity: 0.5;
	}
	
	.overlay {
		fill:none;
		pointer-events: all;
	}
	
	
	.bars_axis, .heap_axis, .histogram_axis {
		
		line, path {
			stroke: @colAxisStroke;
			fill: none;
			stroke-width: 1px;
		}
		
		path {
			stroke: none;
		}
		
	}
	
}

a.button {
	
	background-color: #fff;
	border: 1px solid #ccc;
	padding: .5em;
	border-radius: .5em;
	text-decoration: none;
	
}

a.button:hover {
	background-color: #fff;
	border: 1px solid #efefef;
}

/*

.slider {
	float: left;
	width:400px;
	margin-bottom: 2em;
	
	.ui-slider-range {
		background: white;
	}
	
	.ui-slider-handle {
		width: 1em;
		height: 1em;
		top:-2px;
		margin-left:-0.5em;
	}
}
*/

.transition() {
	
	transition: .3s all linear;
	-webkit-transition: .3s all linear;
	-moz-transition: .3s all linear;
	-o-transition: .3s all linear;
	
}

