body {
  font-family: "Franklin Gothic Book", "Franklin Gothic", Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: black;
}
#mainExample {
  padding: 0;
}
#timeline_demo {
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
#timeline_demo svg {
  overflow: hidden;
}
#leftCol {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 800px;
  margin-right: 20px;
}
#leftCol .status {
  background: #efefef;
  padding: .5em;
  text-align: center;
}
#rightCol {
  margin-left: 840px;
  margin-top: 20px;
  width: 400px;
}
#rightCol div.reset {
  width: 100%;
  margin-bottom: 1em;
}
#rightCol div.reset a {
  cursor: pointer;
  font-weight: normal;
  padding: .5em;
  background: #cccccc;
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
}
#crossfilter {
  width: 400px;
  min-height: 200px;
}
#crossfilter .chart {
  margin-bottom: 2em;
}
#crossfilter .chart .title {
  margin-bottom: 1em;
  color: #1b7c8d;
}
#crossfilter .chart .title a {
  cursor: pointer;
  font-weight: normal;
  font-size: smaller;
  padding: .2em;
  margin-left: 1em;
  background: #cccccc;
  color: black;
  float: right;
}
#crossfilter .chart .title a.reset {
  display: none;
}
#crossfilter .chart.barchart path {
  fill: #008080;
}
#crossfilter .chart.barchart path.background {
  fill: #cccccc;
}
#crossfilter .chart.barchart .axis path,
#crossfilter .chart.barchart .axis line {
  fill: none;
  stroke: #dddddd;
  shape-rendering: crispEdges;
}
#crossfilter .chart.barchart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
#crossfilter .chart.barchart .brush .resize path {
  fill: #4682b4;
  stroke: #666666;
}
#crossfilter .chart.wordCloud .filtered span {
  color: rgba(0, 0, 0, 0.2);
}
#crossfilter .chart.wordCloud .filtered span.selected {
  color: black;
}
#crossfilter .chart.wordCloud .filtered .title a.reset {
  display: block;
}
#crossfilter .chart.wordCloud .term {
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: font-size 0.3s linear;
}
#crossfilter .chart.wordCloud .term:hover {
  font-size: 17px !important;
}
#slider_threshold {
  width: 800px;
  margin-bottom: 2em;
  height: 2em;
}
#slider_threshold .ui-rangeSlider-container {
  height: 2em;
  border-bottom: #dddddd 1px solid;
}
#slider_threshold .ui-rangeSlider-container .ui-rangeSlider-bar {
  height: 100%;
  background: #4682b4;
  opacity: .125;
  cursor: move;
  cursor: grab;
}
#slider_threshold .ui-rangeSlider-container .ui-rangeSlider-handle {
  background: #cccccc;
  width: .5em;
  height: 100%;
  cursor: ew-resize;
}
#slider_threshold .ui-rangeSlider-label .ui-rangeSlider-label-value {
  display: none;
}
.ui_panel_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.ui_panel_container .ui_panel {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 25%;
  height: 40%;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
  pointer-events: all;
}
.ui_panel_container .ui_panel > * {
  -webkit-transition: margin 1s linear;
}
.ui_panel_container .ui_panel ul {
  margin: 0;
  padding: 0;
}
.ui_panel_container .ui_panel ul li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #eee;
}
.ui_panel_container .ui_panel ul li label {
  width: 7em;
  display: inline-block;
  font-weight: bold;
}
.ui_panel_container .ui_panel ul li .description {
  font-size: .8em;
}
.ui_panel_container .ui_panel ul.select li:after {
  background-image: url(images/sprite.png);
  content: ".";
  display: block;
  text-indent: -10000px;
  position: absolute;
  right: 1em;
  top: 50%;
  width: 4px;
  height: 8px;
}
.ui_panel_container .ui_panel select.select {
  margin: auto;
  display: block;
  width: 90%;
}
.ui_panel_container .ui_panel ul.operations {
  overflow: hidden;
  background-color: #efefef;
}
.ui_panel_container .ui_panel ul.operations li {
  border: none;
  width: 25%;
  float: left;
  text-align: center;
}
.ui_panel_container .ui_panel div.header {
  padding: 1em;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 40%;
}
.ui_panel_container .ui_panel div.header h1,
.ui_panel_container .ui_panel div.header h2,
.ui_panel_container .ui_panel div.header h3 {
  line-height: 1.8em;
  margin-top: 0;
  font-weight: normal;
  color: white;
  text-shadow: -1px -1px 1em rgba(0, 0, 0, 0.2), 1px -1px 1em rgba(0, 0, 0, 0.2), -1px 1px 1em rgba(0, 0, 0, 0.2), 1px 1px 1em rgba(0, 0, 0, 0.2);
}
.ui_panel_container .ui_panel .instructions {
  clear: both;
  padding: 0 1em;
  text-align: center;
}
.ui_panel_container .ui_panel .pointer {
  display: none;
  position: absolute;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
}
.ui_panel_container .ui_panel .pointerRight {
  border-color: transparent #ffffff transparent transparent;
  border-width: 10px 10px 10px 0;
  left: -10px;
}
.ui_panel_container .ui_panel .pointerLeft {
  right: -10px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 10px 0 10px 10px;
}
.ui_panel_container .ui_panel.pointerLeft .pointerLeft {
  display: block;
}
.ui_panel_container .ui_panel.pointerLeft .pointerRight {
  display: none;
}
.ui_panel_container .ui_panel.pointerRight .pointerLeft {
  display: none;
}
.ui_panel_container .ui_panel.pointerRight .pointerRight {
  display: block;
}
.ui_panel_container .ui_panel_overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
svg.timeline,
svg.heap,
svg.histogram {
  margin-right: 2em;
}
svg.timeline .axis path,
svg.heap .axis path,
svg.histogram .axis path,
svg.timeline .bars_axis path,
svg.heap .bars_axis path,
svg.histogram .bars_axis path,
svg.timeline .heap_axis path,
svg.heap .heap_axis path,
svg.histogram .heap_axis path,
svg.timeline .histogram_axis path,
svg.heap .histogram_axis path,
svg.histogram .histogram_axis path {
  fill: none;
}
svg.timeline .axis line,
svg.heap .axis line,
svg.histogram .axis line,
svg.timeline .bars_axis line,
svg.heap .bars_axis line,
svg.histogram .bars_axis line,
svg.timeline .heap_axis line,
svg.heap .heap_axis line,
svg.histogram .heap_axis line,
svg.timeline .histogram_axis line,
svg.heap .histogram_axis line,
svg.histogram .histogram_axis line {
  stroke: rgba(0, 0, 0, 0.2);
}
svg.timeline .axis text,
svg.heap .axis text,
svg.histogram .axis text,
svg.timeline .bars_axis text,
svg.heap .bars_axis text,
svg.histogram .bars_axis text,
svg.timeline .heap_axis text,
svg.heap .heap_axis text,
svg.histogram .heap_axis text,
svg.timeline .histogram_axis text,
svg.heap .histogram_axis text,
svg.histogram .histogram_axis text {
  fill: #000000;
}
svg.timeline .bars_events .bars_event .childrenIcon rect,
svg.heap .bars_events .bars_event .childrenIcon rect,
svg.histogram .bars_events .bars_event .childrenIcon rect {
  fill: none;
  cursor: pointer;
  pointer-events: all;
}
svg.timeline .bars_events .bars_event .childrenIcon text,
svg.heap .bars_events .bars_event .childrenIcon text,
svg.histogram .bars_events .bars_event .childrenIcon text {
  fill: #ffffff;
}
svg.timeline .bars_events .bars_event .childrenIcon.open .closed,
svg.heap .bars_events .bars_event .childrenIcon.open .closed,
svg.histogram .bars_events .bars_event .childrenIcon.open .closed {
  display: none;
}
svg.timeline .bars_events .bars_event .childrenIcon.closed .open,
svg.heap .bars_events .bars_event .childrenIcon.closed .open,
svg.histogram .bars_events .bars_event .childrenIcon.closed .open {
  display: none;
}
svg.timeline .bars_events .bars_event .eventRect,
svg.heap .bars_events .bars_event .eventRect,
svg.histogram .bars_events .bars_event .eventRect {
  fill: #008080;
}
svg.timeline .bars_events .bars_event .title,
svg.heap .bars_events .bars_event .title,
svg.histogram .bars_events .bars_event .title {
  fill: #ffffff;
}
svg.timeline .bars_events .bars_event .title[text-anchor=end],
svg.heap .bars_events .bars_event .title[text-anchor=end],
svg.histogram .bars_events .bars_event .title[text-anchor=end] {
  fill: #000000;
}
svg.timeline .heap_events circle,
svg.heap .heap_events circle,
svg.histogram .heap_events circle,
svg.timeline .histogram_events circle,
svg.heap .histogram_events circle,
svg.histogram .histogram_events circle {
  fill: #008080;
}
svg.timeline .heap_outline,
svg.heap .heap_outline,
svg.histogram .heap_outline {
  fill: #008080;
  opacity: 0.5;
}
svg.timeline .overlay,
svg.heap .overlay,
svg.histogram .overlay {
  fill: none;
  pointer-events: all;
}
svg.timeline .bars_axis line,
svg.heap .bars_axis line,
svg.histogram .bars_axis line,
svg.timeline .heap_axis line,
svg.heap .heap_axis line,
svg.histogram .heap_axis line,
svg.timeline .histogram_axis line,
svg.heap .histogram_axis line,
svg.histogram .histogram_axis line,
svg.timeline .bars_axis path,
svg.heap .bars_axis path,
svg.histogram .bars_axis path,
svg.timeline .heap_axis path,
svg.heap .heap_axis path,
svg.histogram .heap_axis path,
svg.timeline .histogram_axis path,
svg.heap .histogram_axis path,
svg.histogram .histogram_axis path {
  stroke: #dddddd;
  fill: none;
  stroke-width: 1px;
}
svg.timeline .bars_axis path,
svg.heap .bars_axis path,
svg.histogram .bars_axis path,
svg.timeline .heap_axis path,
svg.heap .heap_axis path,
svg.histogram .heap_axis path,
svg.timeline .histogram_axis path,
svg.heap .histogram_axis path,
svg.histogram .histogram_axis path {
  stroke: none;
}
a.button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .5em;
  border-radius: .5em;
  text-decoration: none;
}
a.button:hover {
  background-color: #fff;
  border: 1px solid #efefef;
}
/*

.slider {
	float: left;
	width:400px;
	margin-bottom: 2em;
	
	.ui-slider-range {
		background: white;
	}
	
	.ui-slider-handle {
		width: 1em;
		height: 1em;
		top:-2px;
		margin-left:-0.5em;
	}
}
*/
