body {
  font-family: "Franklin Gothic Book", "Franklin Gothic", Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 1em;
}
svg#timeline,
#timeline-chart {
  float: left;
  margin-right: 2em;
}
#crossfilter {
  float: left;
  width: 400px;
  min-height: 200px;
}
.slider {
  float: left;
  width: 400px;
  margin-bottom: 2em;
}
.slider .ui-slider-range {
  background: white;
}
.slider .ui-slider-handle {
  width: 1em;
  height: 1em;
  top: -2px;
  margin-left: -0.5em;
}
.timeline_axis path {
  fill: none;
}
.timeline_axis line {
  stroke: #cccccc;
}
.timeline_axis text {
  fill: #000000;
}
.timeline_events .timeline_event .childrenIcon rect {
  fill: none;
  cursor: pointer;
  pointer-events: all;
}
.timeline_events .timeline_event .childrenIcon text {
  fill: #ffffff;
}
.timeline_events .timeline_event .childrenIcon.open .closed {
  display: none;
}
.timeline_events .timeline_event .childrenIcon.closed .open {
  display: none;
}
.timeline_events .timeline_event .eventRect {
  fill: #008080;
}
.timeline_events .timeline_event .title {
  fill: #ffffff;
}
.timeline_events .timeline_event .title[text-anchor=end] {
  fill: #000000;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.timeline_axis line,
.timeline_axis path {
  stroke: #dddddd;
  fill: none;
  stroke-width: 1px;
}
.timeline_axis path {
  stroke: none;
}
.chart {
  margin-bottom: 10px;
}
.chart .title {
  margin-bottom: 1em;
  font-weight: bold;
}
.chart .title a {
  cursor: pointer;
  font-weight: normal;
  font-size: smaller;
  padding: .2em;
  margin-left: 1em;
  background: #cccccc;
  float: right;
}
.chart path {
  fill: #008080;
}
.chart path.background {
  fill: #cccccc;
}
.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: #dddddd;
  shape-rendering: crispEdges;
}
.chart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.chart .brush .resize path {
  fill: #4682b4;
  stroke: #666666;
}
